.Controls{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.Number{
    font-size: 2em;
    color: #242424;
}
.Controls .Button{
    width: 2rem;
    font-size: 1em;
    height: 2rem;
    margin: 0rem 1rem;
    border-radius: 8px;
    border:none;
}
.Button{
    background-color: #0080ffc0;
    transition: background-color 0.3s ease-in-out;
    height: 2rem;
    color: #000000;
    margin: 0px 0px;
    border: none;
    border-radius: 5px;
}
.Button:hover{
    background-color: #0059b3;
    color: #fff;
}